.fadeOut {
	display:none;
	position:absolute;
}

#final {
	position:absolute;
	display:none;
	
	
}

#output {
	text-align: center;
	background-image: url('https://pbs.twimg.com/profile_images/2545361651/4mic2ovt8v9mx9x1otk7.jpeg');
	
}

p {
	/*font-family: 'Ubuntu', sans-serif;*/
	color: orange;
	font-size: 25px; 
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif';
	
}

button > p{
	color: white;
}

button {
	width: 100px;
	background-color: #0099ff;
	border: none;
	box-shadow: 5px 5px 10px -3px rgba(220, 220, 220, 1);
}

button:hover {
	background-color: #0077dd;
}

button:active {
	background-color: #0077aa;
	transform: translateY(2px);
}
